<div class="text-center m-0 m-auto align-content-center mb-3 w-50 form-group">

    <input [class.is-invalid]='ngControl.touched && ngControl.invalid' 
    type={{type}} class="form-control" 
    [formControl]="ngControl.control" placeholder="{{label}}">

    <div *ngIf="ngControl.control.errors?.required" class="invalid-feedback">

        Please Enter A {{label}}
    </div>
    <div *ngIf="ngControl?.control?.errors?.minlength" class="invalid-feedback">

        <strong>Must be at least {{ngControl.control.errors?.minlength['requiredLength']}}</strong>
    </div>
    <div *ngIf="ngControl.control.errors?.maxlength" class="invalid-feedback">

        <strong>Must be at most {{ngControl.control.errors?.maxlength['requiredLength']}}</strong>
    </div>
    <div *ngIf="ngControl.control.errors?.IsMatching" class="invalid-feedback">

        <strong>Passwprd do not match</strong>
    </div>

</div>