
    <div class="card">
       
        
                <div class="card-block ">
                    <img src="{{getMembers.photoUrl}}" alt="">

                </div>
            
     
        <div class="card-content  align-items-center">
            <h4 class="pt-2">SomeOne Famous</h4>
            <h5>Creative Desinger</h5>

            <ul class="social-icons d-flex justify-content-center">
                <li style="--i:1">
                    <a href="#">
                        <span class="fab fa-facebook"></span>
                    </a>
                </li>
                <li style="--i:2">
                    <a href="#">
                        <span class="fab fa-twitter"></span>
                    </a>
                </li>
                <li style="--i:3">
                    <a href="#">
                        <span class="fab fa-instagram"></span>
                    </a>
                </li>
            </ul>



        </div>
    </div>
