




<div class="card mb-4">
    <div class="card-img-wrapper">
        <img src="{{getMembers.photoUrl}}" alt="{{getMembers.knownAs}}" class="card-img-top">
        <ul class="list-inline-item member-icons animate text-center" id="animate">
            <li  class="list-inline-item">
                <button class="btn btn-btn-primary" routerLink='/members/{{getMembers.userName}}'>
                    <i class="fa fa-user"></i>
                </button>
            </li>
            <li  class="list-inline-item">
                <button class="btn btn-btn-primary">
                    <i class="fa fa-heart"></i>
                </button>
            </li><li  class="list-inline-item">
                <button class="btn btn-btn-primary">
                    <i class="fa fa-envelope"></i>
                </button>
            
        </ul>
    </div>
    <div class="card-body p-1">
        <h5 class="card-title text-center mb-1">
            <i class="fa fa-user mr-2"></i>
            {{getMembers.knownAs}}
        </h5>
        <div class="card-text text-muted text-center">{{getMembers.city}}</div>
    </div>
</div>
    <!-- <div class="card">
       
        
                <div class="card-block ">
                    <img src="{{getMembers.photoUrl}}" alt="">

                </div>
            
     
        <div class="card-content  align-items-center">
            <h4 class="pt-2">SomeOne Famous</h4>
            <h5>Creative Desinger</h5>

            <ul class="social-icons d-flex justify-content-center">
                <li style="--i:1">
                    <a href="#">
                        <span class="fab fa-facebook"></span>
                    </a>
                </li>
                <li style="--i:2">
                    <a href="#">
                        <span class="fab fa-twitter"></span>
                    </a>
                </li>
                <li style="--i:3">
                    <a href="#">
                        <span class="fab fa-instagram"></span>
                    </a>
                </li>
            </ul>



        </div>
    </div> -->
