#nav{
    z-index: 1000!important;
    top:0%;
}
.dropdown-toggle, .dropdown-item{
cursor: pointer;
}
.img{
    max-height: 50px;
    border: 1px solid #795b5b;
    display: inline;
    border-radius: 10px;
    justify-content: space-between;
}