
<div class="text-center mt-5">
<h2>Your Matches - {{pagination?.totalItems}} </h2>

</div>

<div id="filetrs"class="container">  
  <form  #form="ngForm" class="d-flex ml-3" (ngSubmit)="loadmembers()"
   autocomplete="off" >
   <div>
    <label class="mx-2"> Age From: </label>
    <input type="number" class=" " style="width: 70px;" name="minAge" [(ngModel)] =
      "userParams.minAge">
     
   </div>
   <div >
    <label class="mx-2">  Age To: </label>
    <input type="number"  style="width: 70px;" name="maxAge" [(ngModel)] =
      "userParams.maxAge">
   </div>
   <div class="form-group px-2">
    <label class="mx-2">Show</label>
    <select name="gender" style="width: 130px;" class=" ml-5" [(ngModel)]="userParams.gender">
      <option *ngFor="let gender of genderList" [value]="gender.value">
        {{gender.display}}
      </option>
     </select>
   </div>
   <button style="max-height:40px;font-size: 15px;" class="btn btn-primary" type="submit">
    Apply Filters
   </button>
   <button style="max-height:40px;font-size: 15px;" (click)="resetFilters()" class="btn btn-secondary mx-2" type="submit">Reset Filters</button>
   <div class="col">
    <div class="btn-group float-right">
      <button class="btn btn-primary"
       name="orderBy" 
       [(ngModel)]="userParams.orderBy"
       btnRadio="lastActive"
       (click)="loadmembers()">
            Last Active
      </button> 
      <button class="btn btn-primary"
       name="orderBy" 
       [(ngModel)]="userParams.orderBy"
       btnRadio="created"
       (click)="loadmembers()">
            Newest Members
      </button> 
   </div>
   

   </div>
  </form>
</div>
<div class="row d-flex justify-content-center">
    
    <div class="myclass" id="mycard" *ngFor="let member of members">



        <app-member-card [getMembers]="member"></app-member-card>

    
</div>
<div class="d-flex justify-content-center"  *ngIf="pagination">
 
    <div class="row">
        <div class="col-xs-12 col-12">
          <pagination
          [boundaryLinks]="true"
           [totalItems]="pagination.totalItems" 
          [itemsPerPage]="pagination.itemsPerPage" 

          [(ngModel)]="pagination.currentPage"
        
           (pageChanged)="pageChanged($event)"
          
           previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
           ></pagination>
        </div>
      </div>
     
</div>   