.myclass{
     padding-right: 10px;
    padding-top: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 300px;
}
.myclass:hover img{
    transform: scale(1.2,1.4);
    transition: .5;
    transition-timing-function: ease-out;
    opacity: .7;
}
