<div>
    <h2 class="text-center">{{predicate ==='liked'?'members i like':'member how liked me'}}</h2>
</div>
<div class="container mt-3">
 <div class="row">
   <div class="btn-group" name="predicate"> 
           <button class="btn btn-primary" btnRadio="liked"
           [(ngModel)]="predicate" (click)="loadLikes()">Members i Like</button>
           <button class="btn btn-primary" btnRadio="likedBy"
           [(ngModel)]="predicate" (click)="loadLikes()">Members how liked me</button>
   </div>

</div>
</div>
 
<div class="ccc" *ngFor="let member of members">
 <app-member-card  [getMembers]="member"></app-member-card>

</div>
<div class="d-flex justify-content-center"  *ngIf="pagination">
 
  <div class="row">
      <div class="col-xs-12 col-12">
        <pagination
        [boundaryLinks]="true"
         [totalItems]="pagination.totalItems" 
        [itemsPerPage]="pagination.itemsPerPage" 

        [(ngModel)]="pagination.currentPage"
      
         (pageChanged)="pageChanged($event)"
        
         previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
         ></pagination>
      </div>
    </div>
   
</div>   